//<FORM>
// Сніппет (HTML):
.form {
	display: flex;
	flex-direction: column;
	row-gap: rem(20);
	width: rem(350);
	@media (max-width: em(870)) and (min-width:$mobileSmall){
		width: rem(315);	  
	}
	@media (max-width:$mobileSmall){
		width: 100%;
	}
	&> *{
		height: rem(46);
	}
	&__row {
	}
	&__column {
	}
	&__line {
		position: relative;
		&::before{
			position: absolute;
			top: 50%;
			left: 0;
			color: #BDBDBD;
			z-index: 2;
			font-size: rem(20);
			transform: translate(50%, -50%);
		}
	}
	&__input {
		width: 100%;
		height: 100%;
		padding-left: rem(52);
		padding-right: rem(50);
		background-color: #fff;
		border: rem(1) solid #858584;
		border-radius: rem(20);
		outline: none;
	}
	&__button {
		margin-top: rem(20);
	}
	&__error {
		color: red;
		font-size: rem(13);
		position: absolute;
		bottom: 0;
		left: 0;
		transform: translate(10%, 110%);
	}
	&__viewpass {
	}
	&__view-password {
		position: absolute;
		top: 0;
		right: 0;
		height: rem(46);
		width: rem(46);
		border-radius: rem(20);
		display: flex;
		align-items: center;
		justify-content: center;
		&::before{
			color: #3b3b3b;
			font-size: rem(20);
		}
		&::after{
			content:'';
			width: rem(22);
			height: 0;
			border-bottom: rem(2) solid #3b3b3b;
			position: absolute;
			top: 48%;
			left: 25%;
			transform: rotate(45deg);
			transition: border-bottom 0.3s ease 0s;
		}
		&._viewpass-active {
			&::after{
				border-bottom: rem(2) solid transparent;
			}
		}
	}
}
//</FORM>

// <BUTTONS>
// Сніппет (HTML): btn
@import "button";

// <INPUTS>
// Сніппет (HTML): inp
// @import "input";

// <CHECK>
// Сніппет (HTML): chk
// @import "checkbox";

// <RADIO>
// Сніппет (HTML): opt
// @import "radio";

// <SELECT>
// Сніппет (HTML): sel
// @import "select";

// <RATING>
// Сніппет (HTML): rating
// @import "rating";

// <QUANTITY>
// Сніппет (HTML): qa
// @import "quantity";

// <RANGE>
// Сніппет (HTML):
// @import "range";

// <CALENDAR>
// Сніппет (HTML):
// @import "datepicker";
