.create-account {
	display: flex;
	flex-direction: column;
	&__register {
		@include adaptiveValue("margin-top", 100, 64);
	}
}
.register {
	flex: 1 1 auto;
	display: flex;
	@include adaptiveValue("column-gap", 60, 20, 0, 1280, 768);
	@media (max-width:$mobile){
		flex-direction: column;
		text-align: center;
	}
	&__image {
		flex: 0 0 48%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__content {
		align-self: center;
		flex: 0 1 rem(460);
		padding-bottom: rem(40);
		padding-top: rem(30);
		padding-right: rem(15);
		padding-left: rem(15);
		@media (max-width:$mobile){
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&__title {
		font-weight: 600;
		@include adaptiveValue("font-size", 51, 38);
		line-height: 1.1;
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
	&__description {
		@include adaptiveValue("font-size", 22, 16);
		line-height: 1.4;
		&:not(:last-child) {
			margin-bottom: rem(40);	
		}
	}
	&__form {
	}
}
//========================================================================================================================================================